header {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  line-height: 65px; }
  header ul {
    list-style: none;
    margin: 0;
    display: flex;
    width: auto;
    float: right;
    padding-right: 20px; }
    header ul li {
      padding: 0 25px;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500; }

/*# sourceMappingURL=header.css.map */
