$col: 100%;
$max: 1240px;
$mid: auto;
$no: none;
$R: right;
$caps: uppercase;

// Header css starts
header{
  max-width: $max;
  margin: $mid;
  width: $col;
  line-height: 65px;

  ul{
    list-style: $no;
    margin: 0;
    display: flex;
    width: $mid;
    float: $R;
    padding-right: 20px;

    li{
        padding: 0 25px;
        text-transform: $caps;
        font-size: 1rem;
        font-weight: 500;
    }
  }
}
