$col: 100%;
$max: 1240px;
$mid: auto;
$no: none;
$R: right;
$caps: uppercase;

*,html{
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #2c2c2c;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
// Header css starts
header{
  max-width: $max;
  margin: $mid;
  width: $col;
  line-height: 65px;

  ul{
    list-style: $no;
    margin: 0;
    display: flex;
    width: $mid;
    float: $R;

    li{
        padding: 0 25px;
        text-transform: $caps;
        font-size: 1rem;
        font-weight: 500;
    }
  }
}
