*, html {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #2c2c2c; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

header {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  line-height: 65px; }
  header ul {
    list-style: none;
    margin: 0;
    display: flex;
    width: auto;
    float: right; }
    header ul li {
      padding: 0 25px;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500; }

/*# sourceMappingURL=home.css.map */
