$col: 100%;
$max: 1240px;
$mid: auto;
$no: none;
$L:left;
$R: right;
$caps: uppercase;
$pR: relative;
$pA: absolute;
$fx: flex;

.homContnr{
  width: $col;
  padding: 0 15px;
}
.srchWrap{
  height: 70px;
  width: $col;
  position: $pR;
  max-width: $max;
  margin: $mid;
  padding: 0 160px 0 125px; 
  box-shadow: 0 0 25px 0 #caeaff;
  background-color: #ffffff;
  text-transform: $caps;

  .L{
    width: $mid;
    float: $L;
    display: $fx;
    padding: 0 30px;
    line-height: 65px;

    .tbSelct{
      border-bottom: 4px solid #ff9a4e;
      font-weight: bold;
    }
  }
  .tb{
    padding: 0 30px;
    font-size: 1rem;
  }
  .R{
    width: $mid;
    float: $R;
    line-height: 65px;
    display: $fx;

    .tb{
      padding: 0 10px;
      font-weight: 500;
    }
  }

  .-btn{
    position: $pA;
    right: 0;
    color: #ffffff;
    line-height: 70px;
    width: 160px;
    font-weight: bold;
    padding: 0 60px 0 20px;
    background: #ff9a4e url("img/icon-arrow.svg") no-repeat;
    background-position: center right 25px;
    background-size: auto;
  }
  .icon-srch{
    float: $R;
    width: $mid;
    padding: 0 25px;
  }
}
.dwnArow{
  background: url("img/icon-dwnArow.svg") no-repeat;
  background-position: center right;
  background-size: auto;
}
.logo{
  position: $pA;
  width: 125px;
  height: $col;
  left: 0;
  padding: 5px;

  img{
    width: $col;
    height: $col;
  }
}
