.homContnr {
  width: 100%;
  padding: 0 15px; }

.srchWrap {
  height: 70px;
  width: 100%;
  position: relative;
  max-width: 1240px;
  margin: auto;
  padding: 0 160px 0 125px;
  box-shadow: 0 0 25px 0 #caeaff;
  background-color: #ffffff;
  text-transform: uppercase; }
  .srchWrap .L {
    width: auto;
    float: left;
    display: flex;
    padding: 0 30px;
    line-height: 65px; }
    .srchWrap .L .tbSelct {
      border-bottom: 4px solid #ff9a4e;
      font-weight: bold; }
  .srchWrap .tb {
    padding: 0 30px;
    font-size: 1rem; }
  .srchWrap .R {
    width: auto;
    float: right;
    line-height: 65px;
    display: flex; }
    .srchWrap .R .tb {
      padding: 0 10px;
      font-weight: 500; }
  .srchWrap .-btn {
    position: absolute;
    right: 0;
    color: #ffffff;
    line-height: 70px;
    width: 160px;
    font-weight: bold;
    padding: 0 60px 0 20px;
    background: #ff9a4e url("img/icon-arrow.svg") no-repeat;
    background-position: center right 25px;
    background-size: auto; }
  .srchWrap .icon-srch {
    float: right;
    width: auto;
    padding: 0 25px; }

.dwnArow {
  background: url("img/icon-dwnArow.svg") no-repeat;
  background-position: center right;
  background-size: auto; }

.logo {
  position: absolute;
  width: 125px;
  height: 100%;
  left: 0;
  padding: 5px; }
  .logo img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=searchPlan.css.map */
